$main_color_brown: #3d1101
$mainbg_color: #efe9e7
$bg_color: #f6f4f3
$icon_color_fb: #4460a0
$icon_color_twi: #00aaec
$icon_color_g: #db4437
$font_size_h1: 36px
$font_size_h2: 24px
$font_size_h3: 18px
$font_size_p: 16px

.wrap
    background-color: $mainbg_color
    .topbar
        display: flex
        justify-content: space-between
        background-color: #333
        align-items: center
        .logo
            a
                background-image: url(https://i.imgur.com/Ep7nTxy.png)
                text-indent: 101%
                white-space: nowrap
                width: 120px
                height: 24px
                overflow: hidden
                border: solid 1px
        .top_nav
            display: flex
            align-items: center
            li
                a
                    color: #fff
                    font-size: $font_size_p
                    font-weight: bold
                    padding: 1em
                a:hover
                    border-bottom: solid 5px 
                    transition: 0.5s
    .banner
        background-image: url()
        width: 100%
        height: auto
        border: solid 1px