.wrap
    .topbar 
        h1 logo 
        .top_nav
    .banner
        .slogan
            h2 咬一口就無法忘懷的漢堡 
            p 七夕絕對無法錯過的好滋味
                br
                    i.fas fa-utensils
                    | 六角大漢堡
                    i.fas fa-utensils
    .main
        .feature_section
            .fecture_head
                .line
                h3 客人總是在詢問
                    br 這麼好吃的秘訣是什麼 
                .line
            .feature_contain
                .feature
                    img(src="", alt="") 
                    h4 台灣本土蔬菜
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        |Recusandae similique, rem quasi suscipit quam et magni, 
                        |eveniet numquam inventore voluptatibus tempore voluptate quo. 
                        |Totam, aut eaque nemo reiciendis veritatis laboriosam!Non odit 
                        |enim neque maxime quos distinctio consequuntur eum reiciendis corporis?
                .feature
                    img(src="", alt="") 
                    h4 專業米其林廚師
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        |Recusandae similique, rem quasi suscipit quam et magni, 
                        |eveniet numquam inventore voluptatibus tempore voluptate quo. 
                        |Totam, aut eaque nemo reiciendis veritatis laboriosam!Non odit 
                        |enim neque maxime quos distinctio consequuntur eum reiciendis corporis?
                .feature
                    img(src="", alt="") 
                    h4 對於專業不能退讓
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        |Recusandae similique, rem quasi suscipit quam et magni, 
                        |eveniet numquam inventore voluptatibus tempore voluptate quo. 
                        |Totam, aut eaque nemo reiciendis veritatis laboriosam!Non odit 
                        |enim neque maxime quos distinctio consequuntur eum reiciendis corporis?
        .chef_section 
            img(src="", alt="")
            .chef_intro 
                h4 今日主廚 : 帕金森‧梅在帕
                    br Today Chef: Plum in Shock
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    |Recusandae similique, rem quasi suscipit quam et magni, 
                    |eveniet numquam inventore voluptatibus tempore voluptate quo. 
                    |Totam, aut eaque nemo reiciendis veritatis laboriosam!Non odit 
                    |enim neque maxime quos distinctio consequuntur eum reiciendis corporis?
        .feedback_section 
            .feedback_head 
                h3 聽聽別人的感想
            .feedback_contain 
                .feedback
                    .pic_name 
                        img(src="", alt="")
                        h3 高雄一口吃
                    .text 
                        p 自從吃了這家餐廳以後，我口水連續留的一多月都沒停，
                        |下次不要再被我遇到，不定連他們桌子的啃下去。
                        p.id --產品經理
            .feedback
                    .pic_name 
                        img(src="", alt="")
                        h3 廟口小霸王
                    .text 
                        p 自從吃了這家餐廳以後，我口水連續留的一多月都沒停，
                        |下次不要再被我遇到，不定連他們桌子的啃下去。
                        p.id --金身道士
            .feedback
                    .pic_name 
                        img(src="", alt="")
                        h3 高雄一口吃
                    .text 
                        p 自從吃了這家餐廳以後，我口水連續留的一多月都沒停，
                        |下次不要再被我遇到，不定連他們桌子的啃下去。
                        p.id --美麗萬分
        .reserve_section 
            .reserve_head 
                h3 我們的位置不太夠坐
                    br 要不要先訂位呢?
            .reserve_contain 
                .map 
                .form 
    .footer
        .about 
        .contact 